.guest-overview {
    font-family: serif;

    .content-body {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 10px;
    }

    .facilitis-info {
        .btn-lg {
            background-color: #e2f9f3;
            border-color: #e2f9f3;
            color: #135846;
            
        }
    }

    .history-content{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 10px;

        .btn-lg{
            background-color: #e2f9f3;
            border-color: #e2f9f3;
            color: #135846;
            
        }
    }
}